<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.msht.minshengbao">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <!-- 华为手机更新应用桌面角标需要的权限 -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <!-- oppo手机更新应用桌面角标需要的权限 -->
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <!-- 三星手机更新应用桌面角标需要的权限 -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge..permission.WRITE" />

    <uses-feature android:name="android.hardware.nfc.hce" />

    <permission
        android:name="oem.permission.SENDMAIL"
        android:protectionLevel="normal" />
    <permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <!-- resizeableActivity 属性值适配全面屏，在api24以上适用 -->
        <!-- resizeableActivity 适配全面屏 -->

        <activity
            android:name=".LaunchActivity"
            android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_value"
                    android:scheme="msht" />
            </intent-filter>
        </activity>
        <activity android:name=".functionActivity.MainActivity"
            android:launchMode="singleTask"
            />
        <!-- //登录成功后再启动会导致崩盘 暂且不加 -->
        <!-- android:launchMode="singleTask" -->
        <activity
            android:name=".GuideActivity"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".functionActivity.GasService.GasServiceActivity" />
        <activity android:name=".functionActivity.MyActivity.LoginActivity" />
        <activity android:name=".functionActivity.MyActivity.RegisterActivity" />
        <activity android:name=".functionActivity.MyActivity.FindPasswordActivity" />
        <activity android:name=".functionActivity.GasService.GasRepairActivity" />
        <activity android:name=".functionActivity.GasService.SelectCustomerNo" />
        <activity android:name=".functionActivity.GasService.ServerSuccessActivity" />
        <activity android:name=".functionActivity.GasService.AddCustomerNoActivity" />
        <activity android:name=".functionActivity.GasService.GasWriteTableActivity" />
        <activity android:name=".functionActivity.GasService.GasExpenseQueryActivity" />
        <activity android:name=".functionActivity.GasService.GasInstallActivity" />
        <activity android:name=".functionActivity.GasService.GasIntroduceActivity" />
        <activity android:name=".functionActivity.HtmlWeb.HtmlPageActivity" />
        <activity android:name=".functionActivity.GasService.GasServerGuideActivity" />
        <activity android:name=".functionActivity.GasService.GasEmergencyRescueActivity" />
        <activity android:name=".functionActivity.GasService.GasPayFeeActivity" />
        <activity android:name=".functionActivity.Public.SelectVoucherActivity" />
        <activity android:name=".functionActivity.Public.PayFeeWayActivity" />
        <activity android:name=".functionActivity.GasService.BillDetailActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <service
            android:name=".DownloadVersion.DownloadService"
            android:enabled="true"
            android:exported="true"
            android:permission="oem.permission.SENDMAIL" />
        <!-- Ping++ SDK -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 微信支付 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />
        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- 翼支付 -->
        <activity
            android:name="com.bestpay.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- 银联支付 -->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 招行一网通 -->
        <service
            android:name="cmb.pb.cmbsafe.CmbService"
            android:exported="false" />

        <activity
            android:name="cmb.pb.ui.PBKeyboardActivity"
            android:theme="@style/CmbDialogStyleBottom" />

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e2c5771dfb582ec340c3498b8a3fb8d4" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57c01f0fe0f55a9919003a43" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Minshengbao" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="7dc4d7937bab57666f9188e5667e5930" />
        <meta-data
            android:name="BUGLY_APPID"
            android:value="118eae5408" />
        <!-- 适配全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!-- 适配华为(hua wei)刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 适配小米(xiao mi)刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!-- 分享 -->
        <!-- 新浪 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 微博编辑页 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/NoTranslucent" />
        <activity android:name=".functionActivity.Public.SelectCityActivity" />
        <activity android:name=".functionActivity.HtmlWeb.ShopActivity" />
        <activity android:name=".functionActivity.MyActivity.CustomerNoManageActivity" />
        <activity android:name=".functionActivity.MyActivity.MySettingActivity" />
        <activity android:name=".functionActivity.MyActivity.SettingSexActivity" />
        <activity android:name=".functionActivity.MyActivity.SettingNicknameActivity" />
        <activity android:name=".functionActivity.GasService.GasServerOrderActivity" />
        <activity android:name=".functionActivity.GasService.GasServiceDetailActivity" />
        <activity android:name=".functionActivity.Invoice.InvoiceOpenActivity" />
        <activity android:name=".functionActivity.Invoice.InvoiceRepairApplyActivity" />
        <activity android:name=".functionActivity.Invoice.InvoiceHistoryActivity" />
        <activity android:name=".functionActivity.HtmlWeb.AgreeTreatyActivity" />
        <activity android:name=".functionActivity.MyActivity.MyWalletActivity" />
        <activity android:name=".functionActivity.MyActivity.DiscountCouponActivity" />
        <activity android:name=".functionActivity.MyActivity.RechargeValueActivity" />
        <activity android:name=".functionActivity.MyActivity.AutomatePayActivity" />
        <activity android:name=".functionActivity.MyActivity.IncomeExpenseActivity" />
        <activity android:name=".functionActivity.HtmlWeb.ReplacePayAgreeActivity" />
        <activity android:name=".functionActivity.MyActivity.AboutMineActivity" />
        <activity android:name=".functionActivity.MyActivity.ShareMenuActivity" />
        <activity android:name=".functionActivity.GasService.GasEvaluateWorkOrderActivity" />
        <activity android:name=".functionActivity.MessageCenterActivity" />
        <activity android:name=".functionActivity.MessageDetailActivity" />
        <activity android:name=".functionActivity.repairService.MyOrderWorkDetailActivity" />
        <activity android:name=".functionActivity.MyActivity.AddressManageActivity" />
        <activity android:name=".functionActivity.MyActivity.AddAddressActivity" />
        <activity android:name=".functionActivity.Public.SelectAddressActivity" />
        <activity android:name=".functionActivity.Public.MoveSelectAddress" />
        <activity android:name=".functionActivity.MyActivity.ModifyAddressActivity" />
        <activity android:name=".functionActivity.repairService.HomeApplianceCleanActivity" />
        <activity android:name=".functionActivity.repairService.HouseApplianceFixActivity" />
        <activity android:name=".functionActivity.repairService.SanitaryWareActivity" />
        <activity android:name=".functionActivity.repairService.LampCircuitActivity" />
        <activity android:name=".functionActivity.repairService.OtherRepairActivity" />
        <activity android:name=".functionActivity.insurance.InsurancePurchase" />
        <activity android:name=".functionActivity.insurance.InsuranceDetail" />
        <activity android:name=".functionActivity.insurance.InsurancePay" />
        <activity android:name=".functionActivity.MyActivity.RegisterSuccessActivity" />
        <activity android:name=".functionActivity.MyActivity.ConsultRecommendActivity" />
        <activity android:name=".functionActivity.repairService.PublishOrderActivity" />
        <activity android:name=".functionActivity.repairService.EnlargePicActivity" />
        <activity android:name=".functionActivity.HtmlWeb.PriceMenuActivity" />
        <activity android:name=".functionActivity.repairService.PublishSuccessActivity" />
        <activity android:name=".functionActivity.repairService.RepairEvaluateActivity" />
        <activity android:name=".functionActivity.repairService.LookEvaluateActivity" />
        <activity android:name=".functionActivity.repairService.RepairPaymentActivity" />
        <activity android:name=".functionActivity.repairService.MasterDetailActivity" />
        <activity android:name=".functionActivity.repairService.WarrantyCardActivity" />
        <activity android:name=".functionActivity.repairService.RefundApplyActivity" />
        <activity android:name=".functionActivity.repairService.RepeatFixActivity" />
        <activity android:name=".functionActivity.MyActivity.MoreSettingActivity" />
        <activity android:name=".functionActivity.Public.PaySuccessActivity" />
        <activity android:name=".functionActivity.GasService.GasPayRecordActivity" />
        <activity android:name=".Base.BaseActivity" />
        <activity android:name=".functionActivity.GasService.PreexistenceDetailActivity" />
        <activity android:name=".functionActivity.GasService.IcCardExpenseActivity" />
        <activity android:name=".functionActivity.HtmlWeb.IcbcHtml" />
        <activity android:name=".functionActivity.Public.QrCodeErrorActivity" />
        <activity android:name=".functionActivity.GasService.GasIcCardActivity" />
        <activity android:name=".functionActivity.Public.AllServiceActivity" />
        <activity android:name=".functionActivity.Electricvehicle.ElectricHomeActivity" />
        <activity android:name=".functionActivity.Electricvehicle.ElectricMapActivity" />
        <activity android:name=".functionActivity.Electricvehicle.ElectricsStoreDetailActivity" />
        <activity android:name=".functionActivity.Electricvehicle.StoreMapActivity" />
        <activity android:name=".functionActivity.Electricvehicle.SearchStoreActivity" />
        <activity android:name=".functionActivity.Electricvehicle.ReplaceAddressActivity" />
        <activity android:name=".functionActivity.Electricvehicle.ElectricPictureActivity" />
        <activity android:name=".functionActivity.WaterApp.ScanCodeResultActivity" />
        <activity android:name=".functionActivity.WaterApp.OnlinePlaceOrderActivity" />
        <activity android:name=".functionActivity.WaterApp.WaterRechargeActivity" />
        <activity android:name=".functionActivity.WaterApp.WaterBalanceDetailActivity" />
        <activity android:name=".functionActivity.WaterApp.WaterSuccessActivity" />
        <activity
            android:name=".functionActivity.HtmlWeb.VegetableGentlemenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".functionActivity.HtmlWeb.IntelligentFarmHmlActivity" />
        <activity
            android:name=".functionActivity.insurance.InsuranceHome"
            android:screenOrientation="portrait" />
        <activity android:name=".functionActivity.WaterApp.SelectEstateActivity" />
        <activity android:name=".functionActivity.WaterApp.WaterOrderListActivity" />
        <activity
            android:name=".functionActivity.Public.QrCodeScanActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".functionActivity.MyActivity.PasswordActivity" />
        <activity android:name=".functionActivity.Public.PublicPayWayActivity" />
        <activity android:name=".functionActivity.LPGActivity.BindingAccountActivity" />
        <activity android:name=".functionActivity.LPGActivity.LpgNewUserActivity" />
        <activity android:name=".functionActivity.LPGActivity.LpgMyAccountActivity" />
        <activity android:name=".functionActivity.LPGActivity.LpgOrderGasActivity" />
        <activity android:name=".functionActivity.LPGActivity.LpgPlaceOrderActivity" />
        <activity android:name=".functionActivity.LPGActivity.LpgSelectAddressActivity" />
        <activity android:name=".functionActivity.LPGActivity.LpgEditAddressActivity" />
        <activity android:name=".functionActivity.LPGActivity.LpgPayOrderActivity" />
        <activity android:name=".functionActivity.LPGActivity.LpgMyOrderListActivity" />
        <activity android:name=".functionActivity.LPGActivity.LpgOrderDetailActivity" />
        <activity android:name=".functionActivity.LPGActivity.LpgReplaceBottleListActivity" />
        <activity android:name=".functionActivity.LPGActivity.LpgDepositOrderActvity" />
        <activity android:name=".functionActivity.LPGActivity.LpgSwitchAccountActivity" />
        <activity android:name=".functionActivity.HtmlWeb.LpgBottleWebViewActivity" />
        <activity android:name=".functionActivity.LPGActivity.LpgDeliveryInformationActivity" />
        <activity android:name=".functionActivity.LPGActivity.LpgDepositOrderDetailActivity" />
        <activity android:name=".functionActivity.LPGActivity.LpgDepositReturnActivity" />
        <activity android:name=".functionActivity.WaterApp.WaterEquipmentMapActivity" />
        <activity android:name=".functionActivity.Invoice.InvoiceHomeActivity" />
        <activity android:name=".functionActivity.Invoice.InvoiceCustomerNoActivity" />
        <activity android:name=".functionActivity.Invoice.InvoiceGasListActivity" />
        <activity android:name=".functionActivity.Invoice.InvoiceGasApplyActivity" />
        <activity android:name=".functionActivity.Invoice.InvoiceGasHistoryActivity" />
        <activity android:name=".functionActivity.Invoice.InvoiceGasDetailActivity" />
        <activity android:name=".functionActivity.Invoice.InvoiceSendSuccessActivity" />
        <activity android:name=".functionActivity.Invoice.InvoiceRepairDetailActivity" />
        <activity android:name=".functionActivity.Invoice.InvoiceLogisticsInformationActivity" />
        <activity android:name=".functionActivity.Invoice.InvoiceRepairOrderActivity" />
        <activity android:name=".functionActivity.Invoice.AndroidPdfViewActivity" />
        <activity android:name=".functionActivity.WaterApp.WaterMainActivity" />
        <activity android:name=".functionActivity.WaterApp.WaterSwitchAccountActivity" />
        <activity android:name=".functionActivity.WaterApp.WaterBindUserActivity" />
        <activity android:name=".functionActivity.WaterApp.WaterBalanceActivity" />
        <activity android:name=".functionActivity.WaterApp.WaterMalfunctionActivity" />
        <activity android:name=".functionActivity.WaterApp.WaterScanCodeActivity" />
        <activity android:name=".functionActivity.WaterApp.WaterPayRechargeActivity" />
        <activity android:name=".functionActivity.WaterApp.WaterFriendShareActivity" />
        <activity android:name=".functionActivity.HtmlWeb.PrizesGiftsActivity" />
        <activity android:name=".functionActivity.repairService.HomeMaintenanceActivity" />
        <activity android:name=".functionActivity.repairService.HouseKeepingActivity" />
        <activity android:name=".functionActivity.HtmlWeb.RichTextActivity" />
        <activity android:name=".functionActivity.Public.MsbHeadLineActivity" />
        <activity android:name=".functionActivity.GasService.GasIcCardNumberList" />
        <activity android:name=".functionActivity.GasService.GasIcCardMachineMap" />
        <activity android:name=".functionActivity.GasService.GasPayFeeHomeActivity" />
        <activity android:name=".functionActivity.GasService.GasInternetTableActivity" />
        <activity android:name=".functionActivity.GasService.GasInternetTableRechargeActivity" />
        <activity android:name=".functionActivity.GasService.GasInternetTablePayFeeActivity" />
        <activity android:name=".functionActivity.repairService.RepairOrderListActivity" />
        <activity android:name=".functionActivity.GasService.GasOrdinaryRecordActivity" />
        <activity android:name=".androidShop.activity.ShopHomeActivity" />
        <activity android:name=".androidShop.activity.ShopGoodDetailActivity" />
        <activity android:name=".androidShop.activity.ShopClassDetailActivity" />
        <activity android:name=".androidShop.activity.ShopKeywordListActivity" />
        <activity android:name=".androidShop.activity.ShopSpecialActivity" />
        <activity android:name=".androidShop.activity.ShopUrlActivity" />
        <activity android:name=".androidShop.activity.ShopSearchActivty" />
        <activity android:name=".androidShop.activity.ShopCarActivity" />
        <activity android:name=".androidShop.activity.ShopComfirmOrdersActivity" />
        <activity android:name=".androidShop.activity.ShopAddressListActivity" />
        <activity android:name=".androidShop.activity.AddShopAdressActivity" />
        <activity android:name=".androidShop.activity.ShopEditAddressActivity" />
        <activity android:name=".androidShop.activity.RecommendActivity" />
        <activity android:name=".androidShop.activity.InvInfoActivity" />
        <activity android:name=".androidShop.activity.ShopPayOrderActivity" />
        <activity android:name=".androidShop.activity.ShopOrdersDetailActivity" />
        <activity android:name=".androidShop.activity.RefundMoneyActivity" />
        <activity android:name=".androidShop.activity.ReturnGoodDetailActivity" />
        <activity android:name=".androidShop.activity.RefundALLActivity" />
        <activity android:name=".androidShop.activity.ShopAfterSaleActivity" />
        <activity android:name=".androidShop.activity.RefundFormMoneyActivity" />
        <activity android:name=".androidShop.activity.RefundGoodActivity" />
        <activity android:name=".androidShop.activity.ShopOrderRouteActivity" />
        <activity android:name=".androidShop.activity.ShopOrderEveluateActivity" />
        <activity android:name=".androidShop.activity.ShopSuccessActivity" />
        <activity android:name=".androidShop.activity.ShopOrderAddEveluateActivity" />
        <activity android:name=".androidShop.activity.ShopCollectionActivity" />
        <activity android:name=".androidShop.activity.ShopFootprintActivity" />
        <activity android:name=".androidShop.activity.ShopkefuActivity" />
        <activity android:name=".androidShop.activity.TotalMessageListActivity" />
        <!-- 微信分享注册 -->
        <activity
            android:name=".androidShop.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".androidShop.activity.NoLoginCarActivity" />
        <activity android:name=".androidShop.activity.NoCarActivity" />
        <activity
            android:name=".androidShop.activity.MyShopOrderActivity"
            android:launchMode="singleTask" />
        <activity android:name=".androidShop.activity.ShopMoreGoodActivity" />
        <activity android:name=".androidShop.activity.MessageListActivity" />
        <activity android:name=".androidShop.activity.WarnMessageDetailActivity" />
        <activity android:name=".androidShop.activity.ReturnGoodSendGoodActivity" />
        <activity android:name=".functionActivity.insurance.InsuranceListActivity" />
        <activity android:name=".functionActivity.HtmlWeb.InsuranceHtmlActivity" />
        <activity android:name=".functionActivity.GasService.GasInternetRecodeListActivity"></activity>
    </application>

</manifest>